<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-webapp"/>
        <listEntry value="archetypeVersion=1.0"/>
        <listEntry value="groupId=com.org"/>
        <listEntry value="artifactId=Logout-JSP"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.org.Logout_JSP"/>
        <listEntry value="outputDirectory=E:\All Language\Adavnce Java\Eclipse8"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\PC\AppData\Local\Temp\m2e-archetypeGenerator10949213174479825848"/>
</launchConfiguration>
